div{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

main{
    margin: 20px;
    padding: 5px;
}

main:hover{
    background-color: palegoldenrod;
}

.cent{
    position: absolute;
    left: 40%;
    top: 40%;
}